<nav>
    <div class="site-title">
        <a href="/"> <h1> Furry Friends</h1></a>
        <P> A Client and Cainine Profile Hub</P>
    </div>
    <ul>
        <li><a href="/"> Dogs</a></li>
   
        <li><a href="/dogs/create"> New Dog</a></li>
    </ul>
</nav>